/web/1-unstable/bundles/
/web/1-unstable/packages*.json
/web/1-unstable/providers-*.json
/web/1-unstable/p
app/config/parameters.yml
app/bootstrap*
app/cache/*
app/logs/*
bin/
build/
vendor/
/.settings
/.buildpath
/.project
/.idea
composer.phar
/nbproject
.php_cs.cache
